<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Operations</title>
    <link rel="stylesheet" href="../static/style_banner.css">
</head>
<body>

<div class="navbar">
    <span >主页</span>
    <a href="#">论坛</a>
    <a href="#">百科</a>
    <a href="/My" style="float:right;">我的</a>
</div>

<div class="main-window">
    <div class="main-content">
        <div>
            <h2 style="color: red">您已被封禁！</h2>
        </div>
    </div>
</div>
<a href="/logout" class="logout-button">登出</a>
<script src="script_index.js"></script>
</body>
</html>